*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}

#main{
    width:100%;
}

#loader{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #111;
    color: white;
}

#loader #topheading{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%,0);
}

#topheading h5{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 300;
}

#loader h1{
    display: flex;
    justify-content: center;
    width:100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    font-size: 4vw;
    font-weight: 500;

}


.reveal  .parent {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow-y: hidden;
}

.reveal .parent .child{
    display: block;
    
}

.parent .child span{
    display: inline-block;
}

#green{
    position: absolute;
    top: 100%;
    width: 100%;
    height: 0vh;
    background-color: #6C63FF;
}

#home{
    
    width: 100%;
    height:13vh;
    background-color: #f0f0f0;
}

#home #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 5vw;
    width: 100%;
    height: 100px;

}

#nav a{
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    color: black;
}

#discription{
    display: flex;
    justify-content: space-evenly;
}



#text{

    font-weight: 400;
    font-size: 20px;
    margin-top: 150px;
    margin-left: 50px;
}

#img img{

    width: 550px;
    height:450px ;
    margin-top: 100px;
    margin-right: 50px;
}